# Early Data Analysis Notebook

### Imports and loading data

In [35]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os

In [38]:
o = os.getcwd()
train_data = pd.read_csv(o + "\\..\\data\\cases_train.csv", parse_dates = True)

## View of original test data

In [43]:
train_data

,age,sex,province,country,latitude,longitude,date_confirmation,additional_information,source,outcome
0,NaN,NaN,Delhi,India,28.614740,77.209100,26.05.2020,NaN,https://twitter.com/CMODelhi/status/1265203060...,recovered
1,NaN,NaN,Uttar Pradesh,India,25.436090,81.847180,20.05.2020,NaN,https://t.me/indiacovid/5222,hospitalized
2,NaN,NaN,Maharashtra,India,18.504220,73.853020,26.05.2020,NaN,https://t.me/indiacovid/5601,hospitalized
3,15-34,female,Baden-Wurttemberg,Germany,48.120860,7.849500,15.03.2020,NaN,NaN,nonhospitalized
4,NaN,NaN,Gujarat,India,23.188409,73.647122,20.05.2020,NaN,https://twitter.com/PIBAhmedabad/status/126311...,hospitalized
...,...,...,...,...,...,...,...,...,...,...
367631,15.0,male,Santa Fe,Argentina,-32.967800,-60.659240,31.03.2020,NaN,NaN,nonhospitalized
367632,NaN,NaN,Delhi,India,28.614740,77.209100,16.04.2020,NaN,https://twitter.com/ANI/status/125082767765900...,hospitalized
367633,NaN,NaN,Maharashtra,India,19.200000,72.966670,30.05.2020,NaN,https://arogya.maharashtra.gov.in/pdf/ncovidep...,hospitalized
367634,28,female,NaN,Singapore,1.280224,103.834500,03.02.2020,Case 19; worked at health product shop with ma...,https://www.moh.gov.sg/news-highlights/details...,recovered
367635,1.0,female,Sullana,Peru,-4.907630,-80.697330,27.05.2020,NaN,NaN,nonhospitalized

## Number of Missing Values in Test Data

In [44]:
train_data.isna().sum().sum()

894155