# Early Data Analysis Notebook

### Imports and loading data

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import random
import os

In [4]:
o = os.getcwd()
train_data = pd.read_csv(o + "/../data/cases_train.csv", parse_dates = True)
test_data = pd.read_csv(o + "/../data/cases_test.csv", parse_dates = True)
# Mac -> / | Windows -> \\

FileNotFoundError: [Errno 2] No such file or directory: '/Users/shahriarkabirnooh/Desktop/cmpt459project/src/../data/cases_train.csv'

## View of original test data

In [3]:
train_data

,age,sex,province,country,latitude,longitude,date_confirmation,additional_information,source,outcome
0,NaN,NaN,Delhi,India,28.614740,77.209100,26.05.2020,NaN,https://twitter.com/CMODelhi/status/1265203060...,recovered
1,NaN,NaN,Uttar Pradesh,India,25.436090,81.847180,20.05.2020,NaN,https://t.me/indiacovid/5222,hospitalized
2,NaN,NaN,Maharashtra,India,18.504220,73.853020,26.05.2020,NaN,https://t.me/indiacovid/5601,hospitalized
3,15-34,female,Baden-Wurttemberg,Germany,48.120860,7.849500,15.03.2020,NaN,NaN,nonhospitalized
4,NaN,NaN,Gujarat,India,23.188409,73.647122,20.05.2020,NaN,https://twitter.com/PIBAhmedabad/status/126311...,hospitalized
...,...,...,...,...,...,...,...,...,...,...
367631,15.0,male,Santa Fe,Argentina,-32.967800,-60.659240,31.03.2020,NaN,NaN,nonhospitalized
367632,NaN,NaN,Delhi,India,28.614740,77.209100,16.04.2020,NaN,https://twitter.com/ANI/status/125082767765900...,hospitalized
367633,NaN,NaN,Maharashtra,India,19.200000,72.966670,30.05.2020,NaN,https://arogya.maharashtra.gov.in/pdf/ncovidep...,hospitalized
367634,28,female,NaN,Singapore,1.280224,103.834500,03.02.2020,Case 19; worked at health product shop with ma...,https://www.moh.gov.sg/news-highlights/details...,recovered
367635,1.0,female,Sullana,Peru,-4.907630,-80.697330,27.05.2020,NaN,NaN,nonhospitalized

## Data Visualization

## Number of Missing Values in Test Data

In [6]:
num_na = train_data.isna().sum()
total = len(train_data)
print("Number of missing Values: ", num_na)
print("Percentage of missing values: ", round(num_na/total, 2))
print("")

print("Test data additional stats:")
print("Number of unique latitude values: ", test_data['latitude'].nunique())
print("Number of unique longitude values: ", test_data['longitude'].nunique())
print("Number of unique province values: ", test_data['province'].nunique())
print("Number of unique country values: ", test_data['country'].nunique())
print("")

print("Train data additional stats:")
print("Number of unique latitude values: ", train_data['latitude'].nunique())
print("Number of unique longitude values: ", train_data['longitude'].nunique())
print("Number of unique province values: ", train_data['province'].nunique())
print("Number of unique country values: ", train_data['country'].nunique())

NameError: name 'train_data' is not defined

In [5]:
train_data['sex'].value_counts()

male      88635
female    71917
Name: sex, dtype: int64

In [6]:
train_data['age'].isnull().sum()

209265

# Join datasets according to given specs

In [17]:
join1 = pd.merge(train_data.drop(['age', 'sex', 'additional_information'], axis=1), test_data.drop(['age', 'sex', 'additional_information'], axis=1), how='inner', on=["latitude", "longitude"])

print("Join 1 statistics:\n")
j1_na = join1.isna().sum()
j1_total = len(join1)
print("Number of missing Values for Join1: ", j1_na)
print("Percentage of missing values for Join1: ", round(j1_na/total, 2))

Join 1 statistics:

Number of missing Values for Join1:  province_x               951244
country_x                     0
latitude                      0
longitude                     0
date_confirmation_x        1824
source_x                 337467
outcome_x                     0
province_y               951247
country_y                     0
date_confirmation_y        1519
source_y                 295667
outcome_y              52567136
dtype: int64
Percentage of missing values for Join1:  province_x               2.59
country_x                0.00
latitude                 0.00
longitude                0.00
date_confirmation_x      0.00
source_x                 0.92
outcome_x                0.00
province_y               2.59
country_y                0.00
date_confirmation_y      0.00
source_y                 0.80
outcome_y              142.99
dtype: float64

In [14]:
join1

,age_x,sex_x,province_x,country_x,latitude,longitude,date_confirmation_x,additional_information_x,source_x,outcome_x,age_y,sex_y,province_y,country_y,date_confirmation_y,additional_information_y,source_y,outcome_y
0,NaN,NaN,Delhi,India,28.614740,77.20910,26.05.2020,NaN,https://twitter.com/CMODelhi/status/1265203060...,recovered,NaN,NaN,Delhi,India,22.05.2020,NaN,https://twitter.com/ANI/status/126372900395889...,NaN
1,NaN,NaN,Delhi,India,28.614740,77.20910,26.05.2020,NaN,https://twitter.com/CMODelhi/status/1265203060...,recovered,NaN,NaN,Delhi,India,31.05.2020,NaN,https://twitter.com/CMODelhi/status/1267076719...,NaN
2,NaN,NaN,Delhi,India,28.614740,77.20910,26.05.2020,NaN,https://twitter.com/CMODelhi/status/1265203060...,recovered,NaN,NaN,Delhi,India,07.05.2020,NaN,https://t.me/indiacovid/4233,NaN
3,NaN,NaN,Delhi,India,28.614740,77.20910,26.05.2020,NaN,https://twitter.com/CMODelhi/status/1265203060...,recovered,NaN,NaN,Delhi,India,14.05.2020,NaN,https://twitter.com/CMODelhi/status/1260843320...,NaN
4,NaN,NaN,Delhi,India,28.614740,77.20910,26.05.2020,NaN,https://twitter.com/CMODelhi/status/1265203060...,recovered,NaN,NaN,Delhi,India,21.04.2020,NaN,https://twitter.com/ANI/status/125260493440449...,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52880889,NaN,NaN,Delhi,India,28.614740,77.20910,16.04.2020,NaN,https://twitter.com/ANI/status/125082767765900...,hospitalized,NaN,NaN,Delhi,India,20.05.2020,NaN,https://twitter.com/CMODelhi/status/1263040853...,NaN
52880890,NaN,NaN,Delhi,India,28.614740,77.20910,16.04.2020,NaN,https://twitter.com/ANI/status/125082767765900...,hospitalized,NaN,NaN,Delhi,India,26.05.2020,NaN,https://twitter.com/CMODelhi/status/1265203060...,NaN
52880891,NaN,NaN,Maharashtra,India,19.200000,72.96667,30.05.2020,NaN,https://arogya.maharashtra.gov.in/pdf/ncovidep...,hospitalized,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52880892,28,female,NaN,Singapore,1.280224,103.83450,03.02.2020,Case 19; worked at health product shop with ma...,https://www.moh.gov.sg/news-highlights/details...,recovered,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52880893,1.0,female,Sullana,Peru,-4.907630,-80.69733,27.05.2020,NaN,NaN,nonhospitalized,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
join2 = pd.merge(train_data.drop(['age', 'sex', 'additional_information'], axis=1), test_data.drop(['age', 'sex', 'additional_information'], axis=1), how='inner', on=["province", "country"])

print("Join 2 statistics:\n")
j2_na = join2.isna().sum()
j2_total = len(join2)
print("Number of missing Values for Join1: ", j2_na)
print("Percentage of missing values for Join1: ", round(j2_na/total, 2))