In [1]:
import pandas as pd
import numpy as np
import math
from sklearn.neighbors import KNeighborsClassifier
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn import datasets
from tqdm import tqdm
from sklearn import metrics
from sklearn import model_selection

In [2]:
#Import scikit-learn metrics module for accuracy calculation
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.model_selection import GridSearchCV
from sklearn import metrics

In [3]:
data = pd.read_csv("../data/cases_train_processed.csv", parse_dates = True)
model_path = "../models/"

In [4]:
data

,age,sex,province,country,latitude,longitude,outcome,Confirmed,Deaths,Recovered,Active,Combined_Key,Incidence_Rate,Case-Fatality_Ratio
0,35,male,Herat,Afghanistan,34.341944,62.203056,nonhospitalized,38919.0,1437.0,32576.0,4906.0,Afghanistan,99.976005,3.692284
1,45,male,Herat,Afghanistan,34.341944,62.203056,nonhospitalized,38919.0,1437.0,32576.0,4906.0,Afghanistan,99.976005,3.692284
2,52,male,NaN,Albania,41.153030,20.061890,nonhospitalized,12226.0,358.0,6888.0,4980.0,Albania,424.838418,2.928186
3,46,male,NaN,Albania,41.153030,20.061890,nonhospitalized,12226.0,358.0,6888.0,4980.0,Albania,424.838418,2.928186
4,34,male,NaN,Albania,41.153030,20.061890,nonhospitalized,12226.0,358.0,6888.0,4980.0,Albania,424.838418,2.928186
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
345466,46,female,Mash East,Zimbabwe,-18.321880,30.594450,recovered,7672.0,225.0,5914.0,1533.0,Zimbabwe,51.618366,2.932742
345467,52,female,Mash East,Zimbabwe,-18.321880,30.594450,deceased,7672.0,225.0,5914.0,1533.0,Zimbabwe,51.618366,2.932742
345468,42,male,Mash West,Zimbabwe,-17.376550,30.192260,recovered,7672.0,225.0,5914.0,1533.0,Zimbabwe,51.618366,2.932742
345469,30,male,Mash West,Zimbabwe,-18.129860,30.150540,recovered,7672.0,225.0,5914.0,1533.0,Zimbabwe,51.618366,2.932742
345470,38,male,Matabeleland North,Zimbabwe,-17.933333,25.833333,recovered,7672.0,225.0,5914.0,1533.0,Zimbabwe,51.618366,2.932742

In [5]:
test_data = pd.read_csv("../data/cases_test_processed.csv", parse_dates = True)
#model_path = "../models/"

In [6]:
test_data

,age,sex,province,country,latitude,longitude,outcome,Confirmed,Deaths,Recovered,Active,Combined_Key,Incidence_Rate,Case-Fatality_Ratio
0,15,male,NaN,Albania,41.15303,20.061890,NaN,12226,358,6888,4980.0,Albania,424.838418,2.928186
1,42,male,Ain Defla,Algeria,36.26520,1.970300,NaN,49623,1665,34923,13035.0,Algeria,113.162645,3.355299
2,45,male,Annaba,Algeria,36.90000,7.766667,NaN,49623,1665,34923,13035.0,Algeria,113.162645,3.355299
3,32,male,Bejaia,Algeria,36.75000,5.066667,NaN,49623,1665,34923,13035.0,Algeria,113.162645,3.355299
4,48,male,Bejaia,Algeria,36.75000,5.066667,NaN,49623,1665,34923,13035.0,Algeria,113.162645,3.355299
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46494,52,female,Bulawayo,Zimbabwe,-20.17000,28.580000,NaN,7672,225,5914,1533.0,Zimbabwe,51.618366,2.932742
46495,27,male,Bulawayo Metro,Zimbabwe,-20.17608,28.573630,NaN,7672,225,5914,1533.0,Zimbabwe,51.618366,2.932742
46496,40,female,Harare,Zimbabwe,-17.85000,31.050000,NaN,7672,225,5914,1533.0,Zimbabwe,51.618366,2.932742
46497,24,female,Harare,Zimbabwe,-17.85000,31.050000,NaN,7672,225,5914,1533.0,Zimbabwe,51.618366,2.932742
46498,52,male,Mash East,Zimbabwe,-17.64450,31.778120,NaN,7672,225,5914,1533.0,Zimbabwe,51.618366,2.932742

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 345471 entries, 0 to 345470
Data columns (total 14 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   age                  345471 non-null  int64
 1   sex                  345471 non-null  object
 2   province             341444 non-null  object
 3   country              345471 non-null  object
 4   latitude             345471 non-null  float64
 5   longitude            345471 non-null  float64
 6   outcome              345471 non-null  object
 7   Confirmed            345471 non-null  float64
 8   Deaths               345471 non-null  float64
 9   Recovered            345471 non-null  float64
 10  Active               345471 non-null  float64
 11  Combined_Key         345471 non-null  object
 12  Incidence_Rate       345471 non-null  float64
 13  Case-Fatality_Ratio  345471 non-null  float64
dtypes: float64(8), int64(1), object(5)
memory usage: 36.9+ MB

In [8]:
data.isnull().sum()

age                       0
sex                       0
province               4027
country                   0
latitude                  0
longitude                 0
outcome                   0
Confirmed                 0
Deaths                    0
Recovered                 0
Active                    0
Combined_Key              0
Incidence_Rate            0
Case-Fatality_Ratio       0
dtype: int64

In [9]:
def categorize_column(data):
    i = 0
    for value in tqdm(data.unique()):
        data.replace(value, i, inplace = True)
        i += 1
    data = data.apply(pd.to_numeric)
    return data

In [10]:
def categorize_outcome(data):
    data = data.map({'nonhospitalized':0, 'deceased':1, 'recovered':2, 'hospitalized':3},na_action ='ignore')
    data = data.apply(pd.to_numeric)
    return data

In [11]:
def cleanup(data):
    data = data.drop(columns=['province', 'country'])
    data['sex'] = categorize_column(data['sex'])
    data['outcome'] = categorize_outcome(data['outcome'])
    data['Combined_Key'] = categorize_column(data['Combined_Key'])
    return data

In [12]:
data = cleanup(data)
test_data = cleanup(test_data)

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 2/2 [00:00<00:00, 32.25it/s]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 489/489 [00:22<00:00, 21.85it/s]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 2/2 [00:00<00:00, 262.09it/s]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 409/409 [00:02<00:00, 154.71it/s]

In [13]:
knn_model = KNeighborsClassifier()
parameters = {'n_neighbors': [50,100,1000],'p':[2],'leaf_size':[30,50,100],'weights':['uniform']}
cv = RepeatedStratifiedKFold(n_splits=5, n_repeats=2, random_state=1)
scoring = {'Overall_Accuracy': metrics.make_scorer(metrics.accuracy_score),
           'Overall_Recall': metrics.make_scorer(metrics.recall_score, average = 'macro'),
           'F1_Deceased': metrics.make_scorer(metrics.f1_score, labels=[1], average= 'micro'),
           'Recall_Deceased': metrics.make_scorer(metrics.recall_score, labels = [1], average = 'micro') }

X = data.drop(columns='outcome')
y = data['outcome']

#n_scores = cross_val_score(abc, X, y, scoring='accuracy', cv=cv, n_jobs=-1, error_score='raise')
gs = GridSearchCV(knn_model, param_grid = parameters, scoring= scoring, cv=cv, n_jobs=-1, refit = 'Recall_Deceased')

In [14]:
gs.fit(X, y)

GridSearchCV(cv=RepeatedStratifiedKFold(n_repeats=2, n_splits=5, random_state=1),
             estimator=KNeighborsClassifier(), n_jobs=-1,
             param_grid={'leaf_size': [30, 50, 100],
                         'n_neighbors': [50, 100, 1000], 'p': [2],
                         'weights': ['uniform']},
             refit='Recall_Deceased',
             scoring={'F1_Deceased': make_scorer(f1_score, labels=[1], average=micro),
                      'Overall_Accuracy': make_scorer(accuracy_score),
                      'Overall_Recall': make_scorer(recall_score, average=macro),
                      'Recall_Deceased': make_scorer(recall_score, labels=[1], average=micro)})

In [15]:
gs.cv_results_

{'mean_fit_time': array([83.27550454, 68.05335758, 74.57995479, 45.3588351 , 39.56998806,
        74.44500201, 37.69911547, 50.27693443, 72.08672328]),
 'std_fit_time': array([ 5.26870646, 18.14755163,  5.46535789, 16.38087629, 19.29031387,
         4.92351415, 15.23652079, 24.91010088,  5.14565637]),
 'mean_score_time': array([11.3349838 , 14.2928102 , 74.31315846, 10.35506923, 14.53039527,
        73.80720046, 11.24375679, 16.99766841, 54.45155101]),
 'std_score_time': array([0.9168418 , 0.76314487, 1.96009768, 0.99249273, 1.68383777,
        3.32446687, 0.90896775, 0.6702838 , 3.80714804]),
 'param_leaf_size': masked_array(data=[30, 30, 30, 50, 50, 50, 100, 100, 100],
              mask=[False, False, False, False, False, False, False, False,
                    False],
        fill_value='?',
             dtype=object),
 'param_n_neighbors': masked_array(data=[50, 100, 1000, 50, 100, 1000, 50, 100, 1000],
              mask=[False, False, False, False, False, False, False, False,
                    False],
        fill_value='?',
             dtype=object),
 'param_p': masked_array(data=[2, 2, 2, 2, 2, 2, 2, 2, 2],
              mask=[False, False, False, False, False, False, False, False,
                    False],
        fill_value='?',
             dtype=object),
 'param_weights': masked_array(data=['uniform', 'uniform', 'uniform', 'uniform', 'uniform',
                    'uniform', 'uniform', 'uniform', 'uniform'],
              mask=[False, False, False, False, False, False, False, False,
                    False],
        fill_value='?',
             dtype=object),
 'params': [{'leaf_size': 30, 'n_neighbors': 50, 'p': 2, 'weights': 'uniform'},
  {'leaf_size': 30, 'n_neighbors': 100, 'p': 2, 'weights': 'uniform'},
  {'leaf_size': 30, 'n_neighbors': 1000, 'p': 2, 'weights': 'uniform'},
  {'leaf_size': 50, 'n_neighbors': 50, 'p': 2, 'weights': 'uniform'},
  {'leaf_size': 50, 'n_neighbors': 100, 'p': 2, 'weights': 'uniform'},
  {'leaf_size': 50, 'n_neighbors': 1000, 'p': 2, 'weights': 'uniform'},
  {'leaf_size': 100, 'n_neighbors': 50, 'p': 2, 'weights': 'uniform'},
  {'leaf_size': 100, 'n_neighbors': 100, 'p': 2, 'weights': 'uniform'},
  {'leaf_size': 100, 'n_neighbors': 1000, 'p': 2, 'weights': 'uniform'}],
 'split0_test_Overall_Accuracy': array([0.73493017, 0.7372024 , 0.7274043 , 0.73550908, 0.73739055,
        0.72720168, 0.73493017, 0.7362472 , 0.72718721]),
 'split1_test_Overall_Accuracy': array([0.73308826, 0.7360697 , 0.72625698, 0.73353692, 0.73609865,
        0.72658986, 0.73427505, 0.73586708, 0.72643066]),
 'split2_test_Overall_Accuracy': array([0.73323299, 0.73543289, 0.72734246, 0.7338698 , 0.73496975,
        0.72728457, 0.73366718, 0.73498422, 0.72732799]),
 'split3_test_Overall_Accuracy': array([0.73259617, 0.73560656, 0.72799375, 0.7325817 , 0.73588155,
        0.72800822, 0.73211856, 0.73564998, 0.7278056 ]),
 'split4_test_Overall_Accuracy': array([0.73352245, 0.73460793, 0.72750166, 0.73297247, 0.73491186,
        0.72706747, 0.73414479, 0.73460793, 0.72712537]),
 'split5_test_Overall_Accuracy': array([0.73236848, 0.73517621, 0.72744772, 0.73293292, 0.7353933 ,
        0.72741877, 0.73300528, 0.73545119, 0.72743324]),
 'split6_test_Overall_Accuracy': array([0.73223435, 0.73479607, 0.72795033, 0.7324225 , 0.73459345,
        0.72773323, 0.73139491, 0.73431846, 0.72755956]),
 'split7_test_Overall_Accuracy': array([0.73554867, 0.73669204, 0.7268359 , 0.73656179, 0.73672099,
        0.72673459, 0.73634469, 0.73715518, 0.72674907]),
 'split8_test_Overall_Accuracy': array([0.73343561, 0.7356934 , 0.72686485, 0.73318957, 0.73621443,
        0.72637277, 0.73362376, 0.73586708, 0.72643066]),
 'split9_test_Overall_Accuracy': array([0.73373954, 0.73787883, 0.72761745, 0.73504212, 0.73799462,
        0.7275885 , 0.73401453, 0.7381104 , 0.72782007]),
 'mean_test_Overall_Accuracy': array([0.73346967, 0.7359156 , 0.72732154, 0.73386189, 0.73601691,
        0.72719997, 0.73375189, 0.73582587, 0.72718694]),
 'std_test_Overall_Accuracy': array([0.00101169, 0.00100123, 0.00050677, 0.00131598, 0.00105313,
        0.00049338, 0.00131955, 0.00108639, 0.00048399]),
 'rank_test_Overall_Accuracy': array([6, 2, 7, 4, 1, 8, 5, 3, 9], dtype=int32),
 'split0_test_Overall_Recall': array([0.52343679, 0.52145997, 0.50370691, 0.52372178, 0.52125172,
        0.50363393, 0.5235696 , 0.52056637, 0.50355884]),
 'split1_test_Overall_Recall': array([0.52264172, 0.51977672, 0.50312283, 0.52311508, 0.51992838,
        0.50327745, 0.52352336, 0.52002148, 0.50309093]),
 'split2_test_Overall_Recall': array([0.52160326, 0.52004679, 0.50426861, 0.52225714, 0.51971363,
        0.50416894, 0.5225205 , 0.51932127, 0.50431295]),
 'split3_test_Overall_Recall': array([0.52351146, 0.52012005, 0.50441391, 0.52340062, 0.52000571,
        0.50443205, 0.52291764, 0.51973573, 0.50422793]),
 'split4_test_Overall_Recall': array([0.52385767, 0.51925908, 0.50429147, 0.52348476, 0.51896911,
        0.5037058 , 0.52427016, 0.51874697, 0.5036962 ]),
 'split5_test_Overall_Recall': array([0.52136968, 0.52010038, 0.50442633, 0.52193314, 0.52012362,
        0.50444325, 0.52157718, 0.52012638, 0.50458623]),
 'split6_test_Overall_Recall': array([0.52141845, 0.52072788, 0.50429045, 0.52121809, 0.52040898,
        0.50399804, 0.52032152, 0.51986628, 0.50390659]),
 'split7_test_Overall_Recall': array([0.52577989, 0.51989102, 0.50318167, 0.52612995, 0.52012222,
        0.503176  , 0.52573843, 0.52066342, 0.50326042]),
 'split8_test_Overall_Recall': array([0.52401559, 0.52102336, 0.50384377, 0.5232258 , 0.52137728,
        0.50355334, 0.52357032, 0.52155759, 0.50355783]),
 'split9_test_Overall_Recall': array([0.52289177, 0.52146512, 0.50379022, 0.52354119, 0.52183545,
        0.50378994, 0.52294976, 0.52170538, 0.50408016]),
 'mean_test_Overall_Recall': array([0.52305263, 0.52038704, 0.50393362, 0.52320275, 0.52037361,
        0.50381787, 0.52309585, 0.52023109, 0.50382781]),
 'std_test_Overall_Recall': array([0.00131033, 0.00070672, 0.00046302, 0.00124597, 0.00082366,
        0.00041776, 0.00139219, 0.00087728, 0.00045476]),
 'rank_test_Overall_Recall': array([3, 4, 7, 1, 5, 9, 2, 6, 8], dtype=int32),
 'split0_test_F1_Deceased': array([0.00654308, 0.00438116, 0.        , 0.00653595, 0.00219298,
        0.        , 0.00654308, 0.00219298, 0.        ]),
 'split1_test_F1_Deceased': array([0.0110011 , 0.        , 0.        , 0.01101322, 0.        ,
        0.        , 0.01102536, 0.        , 0.        ]),
 'split2_test_F1_Deceased': array([0.00442968, 0.        , 0.        , 0.00442478, 0.        ,
        0.        , 0.00442478, 0.        , 0.        ]),
 'split3_test_F1_Deceased': array([0.01305767, 0.        , 0.        , 0.01518438, 0.        ,
        0.        , 0.0130719 , 0.        , 0.        ]),
 'split4_test_F1_Deceased': array([0.0172973 , 0.0021978 , 0.        , 0.01516793, 0.0021978 ,
        0.        , 0.01516793, 0.0021978 , 0.        ]),
 'split5_test_F1_Deceased': array([0.00441014, 0.00221729, 0.        , 0.00440529, 0.00221976,
        0.        , 0.00440529, 0.00221976, 0.        ]),
 'split6_test_F1_Deceased': array([0.00652884, 0.00441501, 0.        , 0.00652884, 0.00441501,
        0.        , 0.00652884, 0.00441989, 0.        ]),
 'split7_test_F1_Deceased': array([0.01737242, 0.        , 0.        , 0.01521739, 0.        ,
        0.        , 0.01520087, 0.        , 0.        ]),
 'split8_test_F1_Deceased': array([0.01737242, 0.00655738, 0.        , 0.01737242, 0.00655738,
        0.        , 0.01733478, 0.01091703, 0.        ]),
 'split9_test_F1_Deceased': array([0.00442968, 0.        , 0.        , 0.00442968, 0.        ,
        0.        , 0.00442968, 0.        , 0.        ]),
 'mean_test_F1_Deceased': array([0.01024423, 0.00197686, 0.        , 0.01002799, 0.00175829,
        0.        , 0.00981325, 0.00219475, 0.        ]),
 'std_test_F1_Deceased': array([0.005376  , 0.00228808, 0.        , 0.00503626, 0.00214808,
        0.        , 0.00484878, 0.00324214, 0.        ]),
 'rank_test_F1_Deceased': array([1, 5, 7, 2, 6, 7, 3, 4, 7], dtype=int32),
 'split0_test_Recall_Deceased': array([0.00333704, 0.00222469, 0.        , 0.00333704, 0.00111235,
        0.        , 0.00333704, 0.00111235, 0.        ]),
 'split1_test_Recall_Deceased': array([0.00555556, 0.        , 0.        , 0.00555556, 0.        ,
        0.        , 0.00555556, 0.        , 0.        ]),
 'split2_test_Recall_Deceased': array([0.00222469, 0.        , 0.        , 0.00222469, 0.        ,
        0.        , 0.00222469, 0.        , 0.        ]),
 'split3_test_Recall_Deceased': array([0.00667408, 0.        , 0.        , 0.00778643, 0.        ,
        0.        , 0.00667408, 0.        , 0.        ]),
 'split4_test_Recall_Deceased': array([0.00889878, 0.00111235, 0.        , 0.00778643, 0.00111235,
        0.        , 0.00778643, 0.00111235, 0.        ]),
 'split5_test_Recall_Deceased': array([0.00222469, 0.00111235, 0.        , 0.00222469, 0.00111235,
        0.        , 0.00222469, 0.00111235, 0.        ]),
 'split6_test_Recall_Deceased': array([0.00333333, 0.00222222, 0.        , 0.00333333, 0.00222222,
        0.        , 0.00333333, 0.00222222, 0.        ]),
 'split7_test_Recall_Deceased': array([0.00889878, 0.        , 0.        , 0.00778643, 0.        ,
        0.        , 0.00778643, 0.        , 0.        ]),
 'split8_test_Recall_Deceased': array([0.00889878, 0.00333704, 0.        , 0.00889878, 0.00333704,
        0.        , 0.00889878, 0.00556174, 0.        ]),
 'split9_test_Recall_Deceased': array([0.00222469, 0.        , 0.        , 0.00222469, 0.        ,
        0.        , 0.00222469, 0.        , 0.        ]),
 'mean_test_Recall_Deceased': array([0.00522704, 0.00100087, 0.        , 0.00511581, 0.00088963,
        0.        , 0.00500457, 0.0011121 , 0.        ]),
 'std_test_Recall_Deceased': array([0.00277213, 0.00116106, 0.        , 0.00259457, 0.00108957,
        0.        , 0.0024998 , 0.00164971, 0.        ]),
 'rank_test_Recall_Deceased': array([1, 5, 7, 2, 6, 7, 3, 4, 7], dtype=int32)}

In [25]:
gs.best_params_

{'leaf_size': 30, 'n_neighbors': 50, 'p': 2, 'weights': 'uniform'}

In [16]:
#print("knn model valid score:", knn_model.score(X_valid, y_valid) * 100.0)
#print('%\n')
#print("knn model train score:", knn_model.score(X_train, y_train) * 100.0)
#print('%\n')

In [17]:
#y_pred = knn_model.predict(X_valid)

In [18]:
#y_pred = metrics.log_reg.predict(X_valid)

In [19]:
#print(metrics.classification_report(y_valid, y_pred, zero_division=1))

In [20]:
#metrics.roc_auc_score(y_valid, y_pred, multi_class='ovr')

In [21]:
#hyperparameters testing

In [22]:
#List Hyperparameters that we want to tune.
#leaf_size = list(range(1,30))
#n_neighbors = list(range(1,20))
#p=[1,2]#Convert to dictionary
#hyperparameters = dict(leaf_size=leaf_size, n_neighbors=n_neighbors, p=p)#Create new KNN object

In [23]:
#knn_2 = KNeighborsClassifier()#Use GridSearch
#clf = model_selection.GridSearchCV(knn_2, hyperparameters, cv=10)#Fit the model

In [24]:
#best_model = clf.fit(X,y)#Print The value of best Hyperparameters
#print('Best leaf_size:', best_model.best_estimator_.get_params()['leaf_size'])
#print('Best p:', best_model.best_estimator_.get_params()['p'])
#print('Best n_neighbors:', best_model.best_estimator_.get_params()['n_neighbors'])